name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - run: npm ci

      - run: npm run lint

  build:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        browser:
          - firefox
          - chrome
        node:
          - 22.x

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci

      - run: npm run build:${{ matrix.browser }}
