name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - run: npm ci

      - run: npm run lint

  build:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        browser:
          - firefox
          - chrome
        node:
          - 18.x
          - 20.x

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci

      - run: npm run build:${{ matrix.browser }}
