name: release

on:
  release:

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - run: npm ci

      - run: npm run build

      - uses: actions/upload-artifact@v6
        with:
          name: streaming-plus-sequencer
          path: dist
