name: release

on:
  release:

jobs:
  release:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        browser:
          - firefox
          - chrome

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - run: npm ci

      - run: npm run build:${{ matrix.browser }}

      - uses: actions/upload-artifact@v4
        with:
          name: streaming-plus-sequencer-${{ matrix.browser }}
          path: dist-${{ matrix.browser }}
